<http>
<link rel="stylesheet" href="index.css">
<body>
<H1>Simple server demo</H1>
If you see this page, it demonstrates that the simple server demo serves the
<span class="important">index.html</span> page. <p>
If it shows index.html in a
different style, it means the css is loaded as well.
</body>
</http>